* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    background-color: #000;
    color: aliceblue;
    position: sticky;
    z-index: 99;
    top: 0;
  }
  
  .logo {
    font-weight: 700;
    font-size: 20px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    padding: 3px;
    margin: 0 1rem;
    list-style: none;
  }
  
  nav ul li a {
    color: aliceblue;
    text-decoration: none;
  }
  
  .hamburger {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
  }
  
  .hamburger div {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .hamburger.active div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger.active div:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .container {
    height: 120vh;
  }
  
  @media screen and (max-width: 992px) {
    header {
      padding: 1rem;
    }
    .hamburger {
      display: flex;
    }
  }
  
  @media screen and (max-width: 480px) {
    body {
      background-color: olive;
    }
    header {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      background-color: #000;
      color: aliceblue;
      position: sticky;
      z-index: 99;
      top: 0;
    }
    nav {
      display: none;
    }
    nav ul {
      margin-top: 3rem;
      display: block;
    }
  }
    